[Unit]
Description=blocky
Requires=connman.service
After=connman.service

[Service]
ExecStart=/usr/bin/blocky --config /home/nemo/.config/dev.scarpino/harbour-blocky/blocky.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
